.header
  = render "/layouts/header"
.header2
  ユーザー情報登録 > 
  %label
    患者情報登録
  > 問診票回答
.profilesform
  .profilesform__in
    = form_for [@profile] do |f|
      = render 'layouts/validationerror', model: f.object
      .profilesform__in__name
        %h1
          お名前（全角）
          %span 必須
        %h2
          = f.text_field :family_name, class: 'input', placeholder: '例）薬局'
          = f.text_field :first_name, class: 'input', placeholder: '例）花子'
      .profilesform__in__kana
        %h1
          お名前（カナ）
          %span 必須
        %h2
          = f.text_field :family_name_kana, class: 'input', placeholder: '例）ヤッキョク'
          = f.text_field :first_name_kana, class: 'input', placeholder: '例）ハナコ'
      .profilesform__in__birth
        %h1
          生年月日
          %span 必須
          %br/
        = f.text_field :birth, class: 'input', placeholder: '例）19911206 西暦で入力'
      .profilesform__in__sex
        %h1
          性別
        = f.radio_button :sex, "男性", class: 'inputsex'
        = f.label :sex, "男性", {value: "男性", style: "display: inline-block;"}
        = f.radio_button :sex, "女性", class: 'inputxse'
        = f.label :sex, "女性", {value: "女性", style: "display: inline-block;"}
        = f.radio_button :sex, "回答しない", class: 'inputsex'
        = f.label :sex, "回答しない", {value: "回答しない", style: "display: inline-block;"}
      .profilesform__in__zipcode
        %h1
          郵便番号
        = f.text_field :zip_code, class: 'input', placeholder: '例）123-4567'
      .profilesform__in__prefecuture
        %h1
          都道府県
          %span 必須
        = f.text_field :prefecuture, class: 'input', placeholder: '例）大阪府'
      .profilesform__in__city
        %h1
          市区町村
          %span 必須
        = f.text_field :city, class: 'input', placeholder: '例）大阪市北区中崎町'
      .profilesform__in__address
        %h1
          番地
          %span 必須
        = f.text_field :address, class: 'input', placeholder: '例）１丁目１−１'
      .profilesform__in__buildingname
        %h1
          建物名
        = f.text_field :building_name, class: 'input', placeholder: '例）メディカルマンション101号室'
      .profilesform__in__telephone
        %h1
          電話番号
          %span 必須
        = f.text_field :telephone_number, class: 'input', placeholder: '例）09012345678 ※ハイフン無し'
      .profilesform__in__send
        = f.submit '問診の回答へ', class: 'button'