.admin
  .admin__header
    = render "/layouts/header"
  .admin__search
    = form_tag(search_interviews_path, method: 'get') do
      -# = label_tag(:search)
      = text_field_tag(:search, '', class: 'search_input', placeholder: '患者氏名検索（例：ヤッキョク ハナコ）')
      = submit_tag('検索',class: "search_btn")
  .admin__in
    %table.mypage__in__profiles
      - @interviews.each do |i|
        %tr
          %td.left
            = i.created_at.strftime('%Y/%m/%d')
          %td.right
            = link_to interview_path(i.id) do
              = i.profile.family_name
              = i.profile.first_name
              (
              = i.profile.family_name_kana
              = i.profile.first_name_kana
              )
          = paginate @interviews
  .admin__logout
    = link_to '管理者画面を終了する', destroy_user_session_path, method: :delete