.admin
  .admin__header
    = render "/layouts/header"
  .admin__in
    %table.mypage__in__profiles
      - @interviews.each do |i|
        %tr
          %td.left
            = i.created_at.strftime('%Y/%m/%d')
          %td.right
            = link_to interview_path(i.id) do
              = i.profile.family_name
              = i.profile.first_name
              (
              = i.profile.family_name_kana
              = i.profile.first_name_kana
              )
          = paginate @interviews
  .admin__logout
    = link_to '患者一覧画面に戻る', adminpage_interviews_path