.header
  = render "/layouts/header"
.interviews_show
  .interviews_show__in
    = @profile.family_name
    = @profile.first_name
    (
    = @profile.family_name_kana
    = @profile.first_name_kana
    )
    %br/
    = @interviews.created_at.strftime('%Y/%m/%d')+"  入力分"
    %br/
    %br/
    %table.interviews_show
      %tr
        %td.left
          診断名
        %td.right
          = @interviews.diagnosis
      %tr
        %td.left
          副作用歴（薬の名前）
        %td.right
          = @interviews.se_medicine
      %tr
        %td.left
          副作用歴（症状）
        %td.right
          = @interviews.se_symptom
      %tr
        %td.left
          アレルギー
        %td.right
          = @interviews.allergy
      %tr
        %td.left
          現病歴・既往歴
        %td.right
          = @interviews.medical_history
          = @interviews.medical_history_etc
      %tr
        %td.left
          現在服用中のサプリメント
        %td.right
          = @interviews.supplement
      %tr
        %td.left
          生活特記
        %td.right
          = @interviews.life_details
      %tr
        %td.left
          飲酒
        %td.right
          = @interviews.drinking
      %tr
        %td.left
          喫煙
        %td.right
          = @interviews.smoking
      %tr
        %td.left
          服用不可な剤形
        %td.right
          = @interviews.dosage_form
      %tr
        %td.left
          妊娠の有無
        %td.right
          = @interviews.pregnancy
      %tr
        %td.left
          授乳中の有無
        %td.right
          = @interviews.breastfeeding
      %tr
        %td.left
          小児の体重
        %td.right
          = @interviews.child_weight
      %tr
        %td.left
          ジェネリック可否
        %td.right
          = @interviews.generic
    .interviews_show__in__back
      - if user_signed_in? && current_user.id == 1
        = link_to '問診票一覧に戻る', adminpage_interviews_path
      - else
        = link_to '一覧に戻る', mypage_interviews_path

