.header
  = render "/layouts/header"
.breadcrumbs
  = render "/layouts/breadcrumbs"
.interviews_show
  .interviews_show__in
    %table.interviews_show__in__users
      %tr
        %td.left
          ニックネーム
        %td.right
          = @user.nickname
      %tr
        %td.left
          メールアドレス
        %td.right
          = @user.email
      %tr
        %td.left
          パスワード
        %td.right
          表示されません
    %br/
    %table.interviews_show__in__profiles
      %tr
        %td.left
          お名前（全角）
        %td.right
          = @profile.family_name
          = @profile.first_name
      %tr
        %td.left
          お名前（カナ）
        %td.right
          = @profile.family_name_kana
          = @profile.first_name_kana
      %tr
        %td.left
          生年月日
        %td.right
          = @profile.birth
      %tr
        %td.left
          性別
        %td.right
          = @profile.sex
      %tr
        %td.left
          住所
        %td.right
          = @profile.zip_code
          = @profile.prefecuture
          = @profile.city
          = @profile.address
          = @profile.building_name
      %tr
        %td.left
          電話番号
        %td.right
          = @profile.telephone_number
    .interviews_show__in__edit
      = link_to "登録情報を編集する" ,edit_profile_path(@user)
    .interviews_show__in__interviews
      %h1
        過去の問診票
      %br/
      = link_to "2020/7/5 記入分" ,root_path
    .interviews_show__in__back
      = link_to 'トップページに戻る', destroy_user_session_path, method: :delete